.actorsList, .actorsListLight {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    row-gap: 5px;
    column-gap: 2px;
    padding-bottom: 50px;
}

.actorsList {
    background-image: url("actorsDark.jpg");

}

.actorsListLight {
    background-image: url("actors1.png");

}
